body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 100px;
}

h1 {
  font-size: 120px;
  color: #B21449;
}

h2 {
  color: #B21449;
}

header .header-c > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 20;
}


a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #B21449;
  text-decoration: line-through;
}

.center {
  text-align: center;
}
