/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Andale Mono", Helvetica, Arial, sans-serif;
}

header {
	left: auto;
	right: auto;
}

p {
	font-size: 11px;
	opacity: 0.8;
	line-height: 15px;
}

a {
	color: #000;
  text-decoration: none;
  font-family: "Andale Mono", Helvetica, Arial, sans-serif;
}

footer {
	bottom: 0px;
	margin: 15 0;
	font-size: 12px;
	color: #d2d2d2;
}

.border {
	position: fixed;
	z-index: -1;
	background: #000;
}

.border.top {
	top: 0;
}

.border.bottom {
	bottom: 0;
}

.border.top,
.border.bottom {
	width: 100%;
	height: 25px;
}

.border.left {
	left: 0;
}

.border.right {
	right: 0;
}

.border.left,
.border.right {
	width: 25px;
	height: 200%;
}

.light {
	font-weight: lighter;
}

.a-padding {
	padding: 0 50;
}

.header-p {
	padding-top: 60px;
	padding-bottom: 30px;
	font-size: 25px;
}

.header-work {
	padding-top: 35px;
	padding-bottom: 30px;
	font-size: 25px;
}

.header-index {
	padding-top: 140px;
	font-size: 25px;
}

.logo {
	display: inline-block;
	color: #000;
	font-family: "Bodoni 72", "Didot", serif;
	font-size: 230px;
	font-weight: bolder;
	line-height: 190px;
}

.logo-index {
	display: inline-block;
	overflow: hidden;
	color: #000;
	font-family: "Bodoni 72", "Didot", serif;
	font-size: 230px;
	font-weight: bolder;
	line-height: 190px;
	margin-right: 44%;
	margin-left: 20%;
	padding-top: 80px;

}

.logo-p {
	margin-left: 20%;
	overflow: hidden;
}

.position-p {
	display: inline-block;
	margin-left: 5%;
}

.center {
  text-align: center;
}

.img-t {
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -761px;
	display: block;
	zoom: 0.65;
	z-index: 999;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.img-l {
	overflow: hidden;
	position: absolute;
	left: -528px;
	top: 95px;
	z-index: 999;
	zoom: 0.65;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.img-r {
	overflow: hidden;
	position: absolute;
	right: -455px;
	top: 130px;
	z-index: 999;
	zoom: 0.7;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.img-r2 {
	position: absolute;
	right: -492px;
	top: 95px;
	zoom: 0.63;
	z-index: 999;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.social-r {
  position: absolute;
	right: -46px;
	margin-top: 600px;
	zoom: 0.65;
}

img.img-t:hover {
	-webkit-transform: translate(0,761px);
	-moz-transform: translate(0,761px);
	-o-transform: translate(0,761px);
	-ms-transform: translate(0,761px);
	transform: translate(0,761px);
}

img.img-l:hover {
	-webkit-transform: translate(528px,0);
	-moz-transform: translate(528px,0);
	-o-transform: translate(528px,0);
	-ms-transform: translate(528px,0);
	transform: translate(528px,0);
}

img.img-r:hover {
	-webkit-transform: translate(-455px,0);
	-moz-transform: translate(-455px,0);
	-o-transform: translate(-455px,0);
	-ms-transform: translate(-455px,0);
	transform: translate(-455px,0);
}

img.img-r2:hover {
	-webkit-transform: translate(-492px,0);
	-moz-transform: translate(-492px,0);
	-o-transform: translate(-492px,0);
	-ms-transform: translate(-492px,0);
	transform: translate(-492px,0);
}

.colorchange {
  -webkit-animation: colorchange 20s infinite alternate;
}

.colorchange2 {
  -webkit-animation: colorchange2 20s infinite alternate;
}

.bg-black {
  height: 550px;
  background-color: #000;
}

.gradient {

  height: 400px;
  background-color: #000;
  background-repeat: repeat-x;

  background: -webkit-gradient(linear, 0% 0%, 0% 100% from(#000) to(#fff));

  background: -webkit-linear-gradient(top, #000, #fff);

  background: -moz-linear-gradient(top, #000, #fff);

  background: -ms-linear-gradient(top, #000, #fff);

  background: -o-linear-gradient(top, #000, #fff);
}

@font-face {
  font-family: "Andale Mono";
  src: url(‘fonts/Andale Mono.ttf‘);
}

@font-face {
  font-family: "Bodoni 72";
  src: url(‘fonts/Bodoni 72.ttc‘);
}

@-webkit-keyframes colorchange {
      0% {
        color: #FFC7C7;
      }

      10% {
        color: #FFE3C7;
      }

      20% {
        color: #FFFBC7;
      }

      30% {
        color: #DBFFC7;
      }

      40% {
        color: #C8FFC7;
      }

      50% {
        color: #C7FFE6;
      }

      60% {
        color: #C7FDFF;
      }

      70% {
        color: #C7E1FF;
      }
      80% {
        color: #C7CCFF;
      }

      90% {
        color: #DFC7FF;
      }

      100% {
        color: #FFC7FF;
      }
}

@-webkit-keyframes colorchange2 {
      0% {
        background-color: #FFC7C7;
      }

      10% {
        background-color: #FFE3C7;
      }

      20% {
        background-color: #FFFBC7;
      }

      30% {
        background-color: #DBFFC7;
      }

      40% {
        background-color: #C8FFC7;
      }

      50% {
        background-color: #C7FFE6;
      }

      60% {
        background-color: #C7FDFF;
      }

      70% {
        background-color: #C7E1FF;
      }

      80% {
        background-color: #C7CCFF;
      }

      90% {
        background-color: #DFC7FF;
      }

      100% {
        background-color: #FFC7FF;
      }
}
